.env
.venv
*.so
.idea/
node_modules/
.vscode/
comfyui/user/
comfyui/files/*
!comfyui/files/.gitkeep
!comfyui/files/**/.gitkeep
comfyui/web_custom_versions/
.aider*
.claude/
.qwen/
.opencode/
.omc/
.sisyphus/
.pi-lens/
__pycache__/
.ruff_cache/
.superpowers/
*.db
*.pyc
*.db-wal
*.db-shm
*.log
.zcode/
