# Compose file build variables set in .env
services:
  comfyui:
    image: comfyui:spark-full
    environment:
      - HF_XET_HIGH_PERFORMANCE=1
    volumes:
     - ${HOME}/.cache/hugginface:/root/.cache/huggingface

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]