# Compose file build variables set in .env
services:
  # look llama.cpp in https://github.com/Slach/nvidia-spark
  pixelle-mcp:
    image: pixelle:spark-full
    build:
      dockerfile: Dockerfile.spark
      context: pixelle-mcp/
    ports:
      - "127.0.0.1:9004:9004"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9004/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      - comfyui
    volumes:
     - ./pixelle-mcp/workflows:/app/data/custom_workflows
    networks:
      - spark-network

  comfyui:
    # use `bash -xe ./build-comfyui-docker.sh`, to get image
    image: comfyui:spark-full
    environment:
      - HF_XET_HIGH_PERFORMANCE=1
      - HF_HOME=/root/.cache/huggingface
      - TRANSFORMERS_CACHE=/root/.cache/huggingface
      - DIFFUSERS_CACHE=/root/.cache/huggingface
      - LD_PRELOAD=/usr/local/lib/libglib_compat.so
    ports:
    - "127.0.0.1:8188:8188"
    volumes:
     - ${HOME}/.cache/huggingface:/root/.cache/huggingface
     - ${HOME}/.cache/comfyui:/opt/ComfyUI/models
     - ./comfyui/user/:/opt/ComfyUI/user
     - ./comfyui/output/:/opt/ComfyUI/output
     - ./comfyui/input/:/opt/ComfyUI/input
     - ./comfyui/web_custom_versions/:/opt/ComfyUI/web_custom_versions/
    command: [
      "/opt/ComfyUI/.venv/bin/python3","main.py","--enable-manager","--preview-method","auto","--front-end-version","Comfy-Org/ComfyUI_frontend@latest", "--listen", "0.0.0.0"
    ]

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8188/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - spark-network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  game-master:
    build:
      dockerfile: Dockerfile.spark
      context: game-master/
    depends_on:
      - pixelle-mcp
    environment:
      - PIXELLE_MCP_URL=http://pixelle-mcp:9004/pixelle/mcp
    networks:
      - spark-network
    restart: unless-stopped
    volumes:
      - ./game-master/:/app/

# docker network create spark-network
networks:
  spark-network:
    external: true
