# Compose file build variables set in .env
services:
  comfyui:
    image: comfyui:spark-full
    environment:
      - HF_XET_HIGH_PERFORMANCE=1
      - HF_HOME=/root/.cache/huggingface
      - TRANSFORMERS_CACHE=/root/.cache/huggingface
      - DIFFUSERS_CACHE=/root/.cache/huggingface      
    ports:
    - "127.0.0.1:8188:8188"
    volumes:
     - ${HOME}/.cache/hugginface:/root/.cache/huggingface
     - ${HOME}/.cache/comfyui:/opt/ComfyUI/models
     - ./comfyui/user/:/opt/ComfyUI/user
     - ./comfyui/output/:/opt/ComfyUI/output
     - ./comfyui/input/:/opt/ComfyUI/input
     - ./comfyui/web_custom_versions/:/opt/ComfyUI/web_custom_versions/
    command: [
      "/opt/ComfyUI/.venv/bin/python3","main.py","--enable-manager","--preview-method","auto","--front-end-version","Comfy-Org/ComfyUI_frontend@latest", "--listen", "0.0.0.0" 
    ]

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8188/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
volumes:
  comfyui-user:
  comfyui-input:
  comfyui-output: